<ion-view view-title="History">
  <ion-content overflow-scroll="true">
    
      
      
      <div class = "list">
        <div class="card">
          <div class="item item-divider" style="background:#387ef5; color:white">
           Date
          </div>
          <div class="item item-text-wrap">
              <ul>
                  <li>Booking time - </li>
                  <li>Vehicle arrival time - </li>
                  <li>Cost per hour - </li>
                  <li>Location of the parking slot - </li>
                  <li>Bill amount - </li>
              </ul>
          </div>
      

        </div>
          
          <div class="card">
          <div class="item item-divider" style="background:#387ef5; color:white">
           Date
          </div>
          <div class="item item-text-wrap">
              <ul>
                  <li>Booking time - </li>
                  <li>Vehicle arrival time - </li>
                  <li>Cost per hour - </li>
                  <li>Location of the parking slot - </li>
                  <li>Bill amount - </li>
              </ul>
          </div>
      

        </div>
          
       
      </div>
  </ion-content>
</ion-view>
